mixin menuLink(title,	href = "#")
	li.header-menu_item
		a.header-menu_link(href= href)= title

mixin headerBottomItem(number, title)
	.header-bottom-item
		span.header-bottom-number= number
		span.header-bottom-text= title

mixin blockBox(caption, title, desc)
	.block-box
		h3.block-box-caption= caption
		h2.block-box-heading= title
		if desc
			p.block-box-desc= desc

mixin aboutItem(src, title, iconClass, alt = "")
	.about-item
		img.about-image(src= src, alt= alt)
		.about-content
			i.about-icon(class= iconClass)
			span.about-title= title

mixin serviceItem(src, title, desc)
	.service-item 
		img.service-item-img(src= src)
		.service-item-info 
			h3.service-item-title= title  
			if desc
				p.service-item-desc= desc

mixin wedoItem(src, title, content, active="")
	.wedo-item(class= active) 
		.wedo-item-header 
			img.wedo-item-icon(src= src)
			h3.wedo-item-title= title 
			i.fa.fa-angle-up.wedo-item-arrow
		.wedo-item-content
			.wedo-item-text= content 

mixin teamSocial(hrefFb="#", hrefTt="#", hrefPr="#", hrefIg="#")
	ul.team-social 
		li.team-social-item
			a.team-social-link(href= hrefFb)
				i.fab.fa-facebook-f
		li.team-social-item
			a.team-social-link(href= hrefTt)
				i.fab.fa-twitter
		li.team-social-item
			a.team-social-link(href= hrefPr)
				i.fab.fa-pinterest-p
		li.team-social-item
			a.team-social-link(href= hrefIg)
				i.fab.fa-instagram

mixin teamItem(src, name, position)
	.team-item 
		.team-main 
			img.team-img(src= src)
			.team-content
				if block 
					block
		.team-info
			h3.team-name= name
			span.team-position= position 

mixin workItem(src= "../images/img-work1.png", iconClass= "fa fa-image", title= "Creatively Designed", desc= "Lorem ipsum dolor sit", full= "")
	.work-item(class= full) 
		img(src= src, alt="").work-image
		.work-content 
			i.work-icon(class= iconClass)
			h3.work-title= title 
			span.work-desc.text.text-light= desc

mixin peopleItem(src, name, position, desc= "Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nobis nostrum officia optio beatae adipisci cum aliquam explicabo inventore non, consequuntur modi error consectetur quod voluptates soluta alias temporibus perspiciatis?")
	li.people-item 
		img(src= src).people-avt
		.people-info
			h3.people-name= name
			span.people-position.text.text-light= position 
			p.people-desc.text= desc

mixin storyItem(src= "https://source.unsplash.com/random", dateNumber= 15, dateText = "Jan", title= "Lorem ipsum dolor sit.", desc= "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo quasi deleniti voluptates delectus natus tempore asperiores aliquid, ad ipsum aperiam dolorem reiciendis rerum voluptatum ut repudiandae illo, odit qui nobis.", views= 1000, comments= 100)
	li.story-item 
		.story-media 
			img(src= src).story-img
			.story-item-date 
				span.story-item-date-number= dateNumber
				span.story-item-date-text.text.text-light= dateText
		h3.story-title= title
		.story-desc.text
			p.story-desc-inner= desc
		.story-meta 
			.story-meta-item 
				i.fa.fa-eye.story-meta-icon 
				span.story-meta-number.text= views
			.story-meta-item 
				i.fa.fa-comment.story-meta-icon 
				span.story-meta-number.text= comments

mixin quoteItem(src= "../images/img-quote.png", type = false, desc= "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi eveniet ea nemo, ad vero cum? Consectetur ullam quis temporibus impedit, nemo exercitationem cupiditate illum cumque? Quae temporibus voluptatum molestiae voluptates.",author= "Jon Doe")
	.quote-item
		if type == false
			.quote-icon
				img(src= src)
		else 
			img(src= src).quote-image
		.quote-info 
			p.quote-desc= desc
			span.quote-author= author